{% extends "base.html" %} 

{%block content%}
<h1><b>Healthchecks Blog Posts</b></h1>
{% if user.is_authenticated %}
        <a href="{% url 'hc-blog-add' %}" class="top-menu"><span>Add Post</span></a> 
{% endif %}
<div class=container>
	<div class="row">
		{% for blogpost in blogposts %}
		<div class="col-md-4">
			<div class="thumbnail">
			<h3><a href="{% url 'hc-blog-detail' pk=blogpost.pk %}"><b>{{ blogpost.title}}</b></a></h3>
			<div class="date"> Category: 
    			{% for tag in tags %}
        			{{ tag |safe }} 
    			{% endfor %}
    		</div>
    		Published On: {{blogpost.published_date}}
			<p>{{ blogpost.text| safe |linebreaksbr | truncatechars_html:100 }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>



{% if blogposts.has_other_pages %}
  <ul class="pagination">
    {% if blogposts.has_previous %}
      <li><a href="?page={{ blogposts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blogpost.paginator.page_range %}
      {% if blogposts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if blogposts.has_next %}
      <li><a href="?page={{ blogposts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{%endblock content%}