{% extends "base.html" %} 
{% block content %}
	<div style="text-align:  right">
    <a href="{% url 'hc-blogs' %}" class="top-menu"><span >Back to Posts</span></a> |
    {% if user.is_authenticated %}
    <a class="top-menu" href="{% url  'hc-blog-edit' pk=post.pk %}"><span>Edit Post</span></a>  |
    <a class="top-menu" href="{% url  'hc-blog-delete' pk=post.pk %}"><span>Delete Post</span></a>
    {% endif %}
    </div> 


    
    <h1><b>{{ post.title }}</b></h1>
    {% if post.published_date %}
    <div class="date"> Published On: 
        {{ post.published_date }}
    </div>
    {% endif %} 
    <div > Author: 
        {{ post.author}}
    </div>
    <div class="date"> Category: 
    {% for tag in tags %}
        {{ tag |safe }} 
    {% endfor %}
    </div>
    <p>{{ post.text| safe |linebreaksbr }}</p>
</div>

{% endblock %}