{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Frequently Asked Questions - healthchecks.io{% endblock %}
{% block content%}
<h1>Frequently Asked Questions</h1>
{% if faq|length <= 0 %}
	<h2>Ooops!! We dont have any Frequently Asked Questions(FAQs) created yet.</h2>
{% endif%}
<div style="text-align: right">
<a class="top-menu" href="{% url  'hc-helpcenter' %}"><span>Back to HelpCenter</span></a>
</div>
{% for faq in faqs %}
		<div>
			<h2>{{ faq.question}}</h2>
			<p>{{faq.answer}}</p>
		</div>
{% endfor %}


{% endblock %}