{% extends "base.html" %}
{% load staticfiles %}

{% block title %}HelpCenter - healthchecks.io{% endblock %}

{% block content %}
<h1><b>Welcome to Healthchecks Help Center</b></h1>
<p>This section is intended to help you get started with working with healthchecks.</p>
<p>We have FAQs(Frequently Asked Questions), Videos and Interactive Chat Available. Clinc</p>
<h4><p><b>Click on Any of the links below for those Resources</b></p></h4>

<ul style="list-style-type:disc">
  <li><a href="{% url 'hc-faqs' %}">Frequently Asked Questions</a></li>
  <li><a href="{% url 'hc-videos' %}">Videos</a></li>
  <li><a href="{% url 'hc-blogs' %}">Read our user Blogs</a></li>
</ul>

{% endblock %}